@charset "utf-8";
/* CSS Document */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,dl,dd,fieldset,legend,input,textarea,select {margin:0;padding:0;} 
body{font:12px  "微软雅黑"; word-wrap:break-word;}
a,u,s,del{color:#666;text-decoration:none} /*去除文本修饰*/
fieldset ,a img,.bor0 {border:0;}/*去掉天生边框*/
i,em,b{font-style:normal;font-weight:100;}/*变成像span 一样的标签，而且单词短*/
li{list-style:none;}
a{text-decoration:none;}
img{vertical-align:middle;} 
table{border-collapse:collapse;}
textarea{resize:none;}/*禁止拖动*/
table{border-collapse:collapse;}/*细线边框，合并线边框*/


.ind2{text-indent:2em;}/*首行缩进*/

.over{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

/*图片垂直对齐*/
.valign{text-align:center;}
.valign img{vertical-align:middle;}
.valign:after{content:"";vertical-align:middle;height:100%;display:inline-block;}


/*清除向父元素传递*/
.clear:before{content:"";display:table;}
/*清除浮动*/
.clear:after{content:"";clear:both;display:block;}

